@font-face {
    font-family: 'Outfit';
    src: url('/static/fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url('/static/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
